        <div id = "footerContainer">
            <div class = "wraper">
                <ul style = "list-style: none">
                  <li><a href = "https://www.instagram.com/___anthony_swag/"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
                  <li><a href = "#Home">Copy Right Anthony L @ <%= Year.toString();  %></a></li>
                  <li><a href = "https://github.com/AceCode123"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </body>
</html>