<!DOCTYPE HTML>
<html>
    <head>
        <title>Anthony's Website</title>
        <meta name = author content = "Anthony L"> 
        <meta name = description content = "Personal website for Anthony L">
        <meta name = keywords content = "Anthony L CTT Grade 8, Anthony CTT Grade 8">
        <meta name= viewport content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
        <link rel = "stylesheet" type = "text/css" href = "/css/home.css">
        <link rel = "stylesheet" type = "text/css" href = "/css/global.css">
        <script type = "text/javascript" src = "/js/home.js"></script>
        <script type = "text/javascript" src = "/js/typed.js"></script>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    </head>
    <body>
 <nav id = "nav" class = "navbar-default navbar-static-top">
     <div class = "container">
         <div class = "navbar-header">
             <button type = "button" class = "navbar-toggle" data-toggle = "collapse" data-target = "#navbarCollapse">
                 <span class = "icon-bar"></span> 
                 <span class = "icon-bar"></span> 
                 <span class = "icon-bar"></span> 
                 <span class = "icon-bar"></span> 
             </button>
             <a href = "#Home" class = "navbar-brand" id = "name">Anthony</a>
         </div>
         <div id = "navbarCollapse" class = "navbar-collapse collapse">
             <ul class = "nav navbar-nav">
                 <li><a href = "#Projects">Projects</a></li>
                 <li><a href = "#Skills">Skills</a></li>
                 <li><a href = "#Contact">Contact</a></li>
             </ul>
         </div>
     </div>
</nav>
        
        
        